.painterBlock {
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }

  .button{
    border-color: #0a0a0a;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .column{
    width: 70%;
    display: inline-grid;
    padding: 0;
  }

  .columnbutton{
  float: right;
  margin-right: 1%;
    width: 18%;
  }